<div class="d-flex justify-content-center row" id="content-targets">
    <div class="card mr-2 col-12 col-sm-4">
        <img src="../../../../assets/images/original/pila-de-libros.png" alt="" class="card-image-top">
        <div class="card-body">
            <h5 class="card-title">2ºA 2020</h5>
            <div class="text-end"><a class="btn btn-success" [routerLink]="['/prof/muro']">Entrar</a></div>
        </div>
    </div>

    <div class="card mr-2 col-12 col-sm-4">
        <img src="../../../../assets/images/original/pila-de-libros.png" alt="" class="card-image-top">
        <div class="card-body">
            <h5 class="card-title">3ºB 2020</h5>
            <div class="text-end"><a class="btn btn-success" [routerLink]="['/prof/muro']">Entrar</a></div>
        </div>
    </div>

    <div class="card mr-2 col-12 col-sm-4">
        <img src="../../../../assets/images/original/pila-de-libros.png" alt="" class="card-image-top">
        <div class="card-body">
            <h5 class="card-title">1ºA 2019</h5>
            <div class="text-end"><a class="btn btn-success" [routerLink]="['/prof/muro']">Entrar</a></div>
        </div>
    </div>
</div>
