<div>
    <form action="">
        <div class="form-group">
            <label for="title-post">Titulo</label>
            <input type="text" class="form-control" id="input-title" placeholder="Título">
        </div>

        <div class="form-group">
            <label for="mensaje-post">Mensaje</label>
            <textarea class="form-control" id="input-mensaje" rows="3"></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>

        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">Subir archivo</label>
            </div>
        </div>
    </form>
</div>