<div class="container">
    <div class="d-flex row">
        <div id="search" class="input-group mb-3 col-6">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar alumno/a" aria-label="Buscar alumno/a" aria-describedby="basic-addon1">
        </div>
        <div id="buttons" class="col-6 d-flex justify-content-center">
            <button type="button" class="btn btn-success">+ Actividad</button>
            <button type="button" class="btn btn-success">+ Entrega</button>
            <button type="button" class="btn btn-success">+ Portafolio</button>
        </div>
    </div>
    <div id="content-act" class="row mt-3">
        <div class="col-12 row">
            <div class="card col-3">
                <img class="obj-act" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="card-body">
                    <h5 class="card-title">Historia</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="obj-act" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="card-body">
                    <h5 class="card-title">Cocina</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="obj-act" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="card-body">
                    <h5 class="card-title">Arte</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="card col-3">
                <img class="obj-act" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="card-body">
                    <h5 class="card-title">Teatro</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>