<div class="container">
    <div class="d-flex row">
        <div class="col-sm-6 col-12">
            <div id="search" class="input-group mb-3">
                <div>
                    <button type="button" class="btn btn-success mr-2" (click)="showlist();"><i class="fas fa-clipboard-list"></i></button>
                    <div id="lista-alumnos" class="list-group list-alumnos animate__animated animate__backInDown">
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumno.jpg" class="profile-act">
                            Pablo Hernández Lozano
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna1.jpg" class="profile-act">
                            Carla Macia Pérez
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna2.jpg" class="profile-act">
                            Boo Ramirez Sánchez
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumno.jpg" class="profile-act">
                            Carlos Romero Romero
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna1.jpg" class="profile-act">
                            Paula Macia Pérez
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumno.jpg" class="profile-act">
                            Pablo Hernández Lozano
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna1.jpg" class="profile-act">
                            Carla Macia Pérez
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna2.jpg" class="profile-act">
                            Boo Ramirez Sánchez
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumno.jpg" class="profile-act">
                            Carlos Romero Romero
                        </a>
                        <a (click)="selectAlu();" class="list-group-item list-group-item-action">
                            <img src="../../../../assets/images/users/alumna1.jpg" class="profile-act">
                            Paula Macia Pérez
                        </a>
                    </div>
                </div>
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar alumno/a" aria-label="Buscar alumno/a" aria-describedby="basic-addon1">
            </div>
        </div>
        <div id="buttons" class="col-sm-6 col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-success mr-2 disabled">+ Actividad</button>
            <button data-toggle="modal" data-target="#newentregamodal" type="button" class="btn btn-success mr-2">+ Entrega</button>
            <button data-toggle="modal" data-target="#newportafoliomodal" type="button" class="btn btn-success mr-2">+ Portafolio</button>
        </div>
    </div>
    <div id="content-act" class="row mt-3">
        <div class="col-12 row">
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 portafolio">
                <img [routerLink]="['/prof/portafolio']" routerLinkActive="router-link-active"  class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/carpeta.png" alt="portafolio">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" [routerLink]="['/prof/portafolio']">
                    <h5 class="card-title">Historia</h5>
                </div>
            </div>
            <div class="card col-6 col-sm-3 col-md-2 entrega">
                <img data-toggle="modal" data-target="#seeactmodal" class="obj-act mt-2 cursorhover" src=",,/../../../../../assets/images/original/lista-de-verificacion.png" alt="entrega">
                <div class="icons position-absolute d-block">
                    <a data-toggle="modal" data-target="#editmodal"><img class="cursorhover" src="../../../../assets/images/original/lapiz.png" alt="editar" title="editar"></a>
                    <a data-toggle="modal" data-target="#deletemodal"><img src="../../../../assets/images/original/borrar.png" class="cursorhover" alt="borrar" title="borrar"></a>
                    <a><img src="../../../../assets/images/original/moverse.png" class="cursorhover" alt="mover" title="mover"></a>
                </div>
                <div class="card-body cursorhover" data-toggle="modal" data-target="#seeactmodal">
                    <h5 class="card-title">Cocina</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal nueva entrega -->
<div class="modal fade" id="newentregamodal" tabindex="-1" role="dialog" aria-labelledby="newentregamodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nueva Entrega</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal nuevo portafolio -->
<div class="modal fade" id="newportafoliomodal" tabindex="-1" role="dialog" aria-labelledby="newportafoliomodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Portafolio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ver entrega -->
<div class="modal fade" id="seeactmodal" tabindex="-1" role="dialog" aria-labelledby="seeactmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ver Actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal eliminar -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">¿Estas seguro/a?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
